* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body { background: #57933b; }
h1 {
	font-size: 75px;
	line-height: normal;
	font-weight: normal;
	color: #1c3137;
	z-index: 1;
	position: absolute;
	top: 43px;
	left: 279px;
}
	h1 strong {
		color: #fff;
	}
h2 {
	margin-bottom: 10px;
	border-top: 1px solid #1c3137;
	font-size: 20px;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
}
	h2 strong {
		color: #1c3137;
	}
h3 {
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #1c3137;
}

div#header {
   height: 170px;
   margin: 1px 1px 0;
   padding: 0 20px;
   text-transform: uppercase;
   position: relative;
}

div#header ul{

   padding-left: 0;
   line-height: 25px;
   letter-spacing: 3.5px;
   font-size: 21px;
   z-index: 2;
   position: absolute;
   top: 32px;
   left: 269px
} 

div#header li{
   float: left;
   display: block;
   list-style: none; 
}


			div#header a, div#header a:visited {
				display: block;
				padding: 0 10px;
				border-left: 1px solid #1c3137;
			}
			div#header li:first-child a, div#header li:first-child a:visited {
				border-left: 0;
			}
			div#header a.active, div#header a.active:visited,
			div#header a:hover, div#header a:active {
				text-decoration: none;
				color: #fff;
			}


div#content{
   width: 100000px;
   overflow: hidden;
   position: relative;
}

div#content div.content {
   float: left;
   width: 858px;
   margin: 0 1px;
   padding: 0 20px;
}


div#container {
	position: relative;
	width: 900px;
	margin: 0 auto;
	background: #94ca7b;
	overflow: hidden;
}


a, a:visited {
	text-decoration: none;
	color: #1c3137;
	outline: none;
}
a:hover, a:active {
	background-color: #1c3137;
	color: #ffffff;
}
a.active, a.active:visited {
	color: #ffffff;
}

		div#loading {
			padding: 15px 15px 10px;
			border: 1px solid #012b56;
			background-color: #ffffff;
			visibility: hidden;
			opacity: 0;
			filter: alpha(opacity=0);
			text-align: center;
			position: absolute;
			top: 235px;
			left: 369px;
		}
label{
float: left;
width: 150px;
margin-right: 10px;
text-align: right;
}

input, textarea {
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid #1c3137;
	line-height: normal;
	font-size: 12px;
	color: #333;
}

input#reset:hover,input#btn:hover, input#btn:active {
	background: #393;
	cursor: pointer;
	color: #fff;
}


textarea.invalid,input.invalid{border:1px solid #c00}
span.invalid{color: #c00;font-size: 12px;margin-left: 4px}
div#response p{background: #393;color:fff;margin: 4px;width: 300px;padding: 3px}
